@mixin text($text-type) {
    text-align: $text-type;
}

@mixin padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

@mixin margin($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin background-image($image) {
    background-image: url($image);
}