
// font family 
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


// colors 

$primary-softblue: hsl(231, 69%, 60%);
$primary-softred: hsl(0, 94%, 66%);

$neutral-gblue: hsl(229, 8%, 60%);
$neutral-dblue: hsl(229, 31%, 21%);


$default-fontsize: 18px;
$default-fontfamily: 'Rubik', sans-serif;



